

<div class="form-group color-dark-font color-font-black">
    <label for="title">Title:</label>
    <%= f.text_field :title,:class=>"form-control",:required => "required" %>
</div>
<div class="form-group color-dark-font color-font-black">
    <label for="author">Author:</label>
    <%= f.text_field :author,:class=>"form-control",:required => "required"%>
</div>
<div class="form-group color-dark-font color-font-black">
  <label for="body">Message:</label>
  <%= f.text_area :body,:class=>"form-control",:required => "required"%>
</div>
<div class="form-group color-dark-font color-font-black">
  <label for="image">Image:</label>
  <%= f.url_field :image_url,:class=>"form-control",:required => "required"%>
</div>