
<div class="form-group color-dark-font color-font-black">
    <label for="title">Title:</label>
    <%= f.text_field :title,:class=>"form-control" %>
</div>
<div class="form-group color-dark-font color-font-black">
    <label for="description">Details:</label>
    <%= f.text_field :description,:class=>"form-control"%>
</div>
<div class="form-group color-dark-font color-font-black">
  <label for="url">Youtube Url:</label>
  <%= f.url_field :url,:class=>"form-control"%>
</div>
<div class="form-group color-dark-font color-font-black">
  <label for="image">Image:</label>
  <%= f.url_field :image,:class=>"form-control"%>
</div>
