<!-- login form -->
<ul class="drop-down hover-expand">
<%#= form_for @user_session, :as => :user_session, :url => { :action => "create" },:html => {:class=>"login-form"} do |f| %>
<%= form_for @user_session, :as => :user_session,:html => {:class=>"login-form"} do |f| %>
   <%#= render "shared/error_messages", :target => @user_session %>
   <div class="login_error" style="color:red; font-size:12px;"></div>
  <table>
    <tbody>
      <tr>
          <td colspan="2">
            <%= f.text_field :email , :class => "fa fa-camera-retro", :placeholder => "Your email address"  %>
          </td>
      </tr>
      <tr>
          <td colspan="2">
            <%= f.password_field :password , :placeholder => "Password" %>
          </td>
      </tr>
      <tr>
          <td>
          <a href="javascript:void(0);" id="login_admin">Login</a>
          </td>
          <td>
            <%= f.check_box :remember_me %><%= f.label "Keep me signed in" , :style => "margin-top: 3px;"%>
          </td>
      </tr>
    </tbody>
  </table>
<% end %>

</ul>

<script type="text/javascript">
$("#login_admin").on("click",function(){
  var form = $("form.login-form");
    $.ajax({
      url: "/user_sessions",
      type: "post",
      data: form.serialize()
    }).success(function(response) {
      if (response.success) {
        window.location.href = response.url;
      }else {
        $(".login_error").text("");
        if (response.error.email && response.error.email.length == 1) {
          $(".login_error").text("Email " + response.error.email[0]);
        }else if (response.error.password && response.error.password.length == 1) {
          $(".login_error").text("Password " + response.error.password[0]);
        } else {
          $(".login_error").text(response.error.base[0]);
        }

      }
    })
})    
</script>
